 
@font-face {
  font-family:"kepler-std-semicondensed-dis";
  src:url("https://use.typekit.net/af/78897f/000000000000000000012f83/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/78897f/000000000000000000012f83/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/78897f/000000000000000000012f83/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:700;
  }
  
  @font-face {
  font-family:"kepler-std-semicondensed-dis";
  src:url("https://use.typekit.net/af/bc134b/000000000000000000012f84/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/bc134b/000000000000000000012f84/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/bc134b/000000000000000000012f84/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
  font-display:auto;font-style:italic;font-weight:700;
  }
.tk-kepler-std-semicondensed-dis { font-family: "kepler-std-semicondensed-dis",serif; }
  
 @font-face {
   font-family:"Inconsolata";
   src:url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
   font-display:auto;font-style:normal;font-weight:400;
  }

@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Work+Sans:700);
 * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
} 


body {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

section {
  padding: 12.5%;
  width: 100%;
}
.white{
  background-color: #fefdf7;
  text-align:left;
  color:#000000;

  padding-left: 20%;
  padding-right: 20%;
}
.black{
  background-color: #141313;
  text-align:left;
  color: white;

  padding-left: 20%;
  padding-right: 20%;
}
@keyframes caret {
  50% {
      border-color: transparent;
  }
}
#introduction { /* Typewriter part */
    animation: caret 1s linear infinite;
    padding-top: 44vh;
    padding-bottom: 44vh;
    width:100%;
    font-family: 'Open Sans', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    background-color: rgb(20, 19, 19); 
    color:  #FF5A5A;
    font-family: "Press Start 2P","DotGothic16","ＭＳ Ｐゴシック";
    text-transform: uppercase;
    text-align: center;
    line-height:50px;
    z-index:1;
}


#about{ /* About section */
    font-family: "Space Grotesk" ;
    line-height: 2;
    font-size: 100%;
    padding-top:5%;
    color:#000000;
    z-index:1;

}
  #about h2{
    color:black;
  }
  #about p{
    color:#000000;
  }
.image{
  height:50%;
  width:50%;
}

#projects{

}

.projectTags{
  font-family:"Inconsolata";
  font-size:small;
}

.APITag{
  background-color:firebrick;
  text-align:center;
  border-radius: 0.5vmax;
  border-width: 1vmax;
}

#skills{ /* work experience section*/
    font-family:"Space Grotesk", 'Courier New', Courier, monospace;
    font-size: x-large;
    padding-top:5%;
    z-index:1;

}
  #skills h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

#hobbies{ /* Hobby section*/
    /* height:900px; */
    font-family: "Space Grotesk";
    padding-top:5%;
    z-index:1;
    font-size:larger;

}
  .gallery{
    display: flex;
    flex-wrap: wrap;

  }

#contact{  
  text-align: right;

}
#contact p{
  font-size: larger;
  font-family:"Space Grotesk",'Courier New', Courier, monospace;
}

p {
  margin-bottom: 2.5em;
}


h2 {
  font: bold 2.8rem "kepler-std-semicondensed-dis";
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 2em;
}

nav {
  mix-blend-mode: difference;
  z-index: 100;
}
nav ul {
  position: fixed;
  top: 60px;
  right: 5px;
  height: 90vh;
  visibility: hidden;
  pointer-events: none;
  list-style: none;
  width: 5vh;
}
nav ul li {
  font: bold 1.9vmin "Work Sans", "Arial Black", Gadget, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.75em 0;
  writing-mode: vertical-lr;
}
nav ul li a {
    color: inherit;
    text-decoration: none;
  }
  
nav.active ul {
  visibility: visible;
  pointer-events: initial;
  transition-delay: 0.2s;
}

.nav-icon {
  appearance: none;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  height: 5vmin;
  position: fixed;
  top: 15px;
  right: 15px;
  transition: background 0.3s;
  width: 5vmin;
}
.nav-icon span {
  position: absolute;
  top: 15px;
  left: 5px;
  background: rgb(241, 217, 81);
  display: block;
  height: 3px;
  right: 5px;
  transition: transform 0.3s;
}
.nav-icon span:before, .nav-icon span:after {
  width: 100%;
  height: 3px;
  background: #fff;
  content: "";
  display: block;
  left: 0;
  position: absolute;
}
.nav-icon span:before {
  top: -8px;
}
.nav-icon span:after {
  bottom: -8px;
}
.active .nav-icon span {
  transform: rotate(90deg);
}
span{
  border-right: .1em solid;
  animation: caret 1s steps(1) infinite;

}

.bar4{
  position: fixed;
  width: 1vh;
  height: 8vh;
  background-color: #FF5A5A;
  bottom: 0;
  margin: 6px 12px;
  z-index:10;
}
.social{
  position: fixed;
  left:10px;
  bottom: 10vh;

}
.social img{
  width: 5vh;
  height: 5vh;
  margin-top:3px;
  display:block;
}

.social img:hover{

  -webkit-filter: hue-rotate(180deg);
}

.contactBtn {
  color: #000000 !important;
  text-transform: uppercase;
  background: #ffffff00;
  padding: 20px;
  border: 4px solid #000000 !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  }
  .contactBtn:hover {
    color: #FF5A5A !important;
    border-radius: 50px;
    border-color: #FF5A5A !important;
    transition: all 0.3s ease 0s;
    }
#footer{
  font-family: 'Courier New', Courier, monospace;
  color:rgb(255, 255, 255);
  text-align: center;
}