body{
    background-color: orange;  
    overflow-wrap: break-word;
}
.mainSection{
    padding-left: 30%;
    padding-right: 30%; 
    text-align: center; 
    font-family: 'Kumbh Sans';
}
.mainSection h2{
   
}