@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F1E8B8;
  --foreground: #191919;
  --accent: #F9E784;
  --secondary: #E58F65;
  --tertiary: #D05353;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191919;
    --foreground: #f0ece3;
    --primary: #F1E8B8;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--background);
  background:radial-gradient(circle at center, #222222, #191919),
  url('/noise.svg');
}